<!-- pages/templates/pages/home.html -->
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="style.css">
</head>

<!-- Navigaionbar -->
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="Home" href="home.html"><img src="Plant Parenthood.png" height="80px" ></a></li>
                <li><a><b href="about.html"> About</b></a></li>
                <li><a><b href="myGarden.html"> My Garden</b></a></li>
            </ul>
        </nav>
    </header>
</body>

<!-- Search Bar -->
<body>

</body>